SheetsWorkflow.json
{
  "name": "Welcome",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "77ec2634-19e6-4a27-a81a-ed7a6ff11ede",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12HrhUm5y7JzaBSQj7InGT7Poly5jh-QIIi-HmVLmMpA",
          "mode": "list",
          "cachedResultName": "ConversAIlabs Assignment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12HrhUm5y7JzaBSQj7InGT7Poly5jh-QIIi-HmVLmMpA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12HrhUm5y7JzaBSQj7InGT7Poly5jh-QIIi-HmVLmMpA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "not-sent"
            }
          ]
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        200,
        0
      ],
      "id": "f8ddf4fd-9e10-488c-bd1f-12534c070ece",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yxjVC297i5DkJjgH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "JSON",
        "body": "={   \"model\": \"meta-llama/llama-3.3-8b-instruct:free\",   \"messages\": [     {       \"role\": \"user\",       \"content\": \"Write a welcome email for {{ $json.name }} who has just signed up for our product.\"     }   ] }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        180
      ],
      "id": "d3ac4b9b-7be9-4ce5-8255-c7bf11a75ada",
      "name": "HTTP Request",
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "httpBearerAuth": {
          "id": "1vEboLJbPObrzATy",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12HrhUm5y7JzaBSQj7InGT7Poly5jh-QIIi-HmVLmMpA",
          "mode": "list",
          "cachedResultName": "ConversAIlabs Assignment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12HrhUm5y7JzaBSQj7InGT7Poly5jh-QIIi-HmVLmMpA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12HrhUm5y7JzaBSQj7InGT7Poly5jh-QIIi-HmVLmMpA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "status": "=sent",
            "content": "={{ $json.choices[0].message.content }}",
            "email": "={{ $json.email }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        800,
        0
      ],
      "id": "a3a8c018-1583-48f5-a567-9a83ce9a32c4",
      "name": "Google Sheets1",
      "retryOnFail": false,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yxjVC297i5DkJjgH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        600,
        -120
      ],
      "id": "5b76ed56-1e90-43f3-87e1-da4cb0853c2d",
      "name": "Merge",
      "alwaysOutputData": true,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e88d0edb-5518-4ab0-b8ff-9d216aa5ed2d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6df22e790fcee71e7e34aae3236b71960a2c94ed76ce021709141cf036ede6dc"
  },
  "id": "yhCVtoxCOjWjZVTj",
  "tags": []
}